body {
  background-image: url('./gradient.jpg');
  background-repeat:no-repeat;
  background-size: cover;
}

.error {
  color: red;
}

.jumbotron {
  max-height: 260px;
  background-color: #0A58FF;
  color: white;
}

.jumbotron h1 {
  margin-top: 0px;
}

.main {
  padding-top: 40px;
}

.link {
  color: #ADEBFF;
  font-size: 50;
}

.link2 {
  color: #9EE7FF;
  font-size: 30;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.table {
  width: 100%;
}

.th {
  font-weight: bold;
}

td {
  text-align: center;
  font-size: 20;
  color: #0A58FF;
}

#total {
  font-size: 70;
  font-weight: bold;
  color: black;
}

#day {
  font-size: 70;
  font-weight: bold;
  color: #CFD606;
}

#week {
  font-size: 70;
  font-weight: bold;
  color: #FFAD14;
}

#plus {
  font-size: 70;
  font-weight: bold;
  color: #FF4508;
}